@using PracticeTheVerb.Domain.Entities.Italian;
@using PracticeTheVerb.Domain.Entities;
@model ResultViewEntity<ItalianVerb>;

@{
    var verb = Model.Data;
}
<div class="col pt-1 pb-1">
    <div class="p-3 border bg-light">
        <div class="text-center">Passato (Past)</div>
        <form id="formriflessivoPassato">
            <table class="table table-borderless p-0 m-0">
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPassatoIo"> io </span>
                            <input type="text" class="form-control" id="exriflessivoPassatoIo" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ riflessivo.riflessivoPassatoIo }}" id="answerriflessivoPassatoIo" hidden>
                            <span class="CSSverbsAnswerriflessivoPassatoIo">{{ riflessivo.riflessivoPassatoIo }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPassatoTu"> tu </span>
                            <input type="text" class="form-control" id="exriflessivoPassatoTu" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ riflessivo.riflessivoPassatoTu }}" id="answerriflessivoPassatoTu" hidden>
                            <span class="CSSverbsAnswerriflessivoPassatoTu">{{ riflessivo.riflessivoPassatoTu }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPassatoLui">lui</span>
                            <input type="text" class="form-control" id="exriflessivoPassatoLui" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ riflessivo.riflessivoPassatoLui }}" id="answerriflessivoPassatoLui" hidden>
                            <span class="CSSverbsAnswerriflessivoPassatoLui">{{ riflessivo.riflessivoPassatoLui }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPassatoNoi">noi</span>
                            <input type="text" class="form-control" id="exriflessivoPassatoNoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ riflessivo.riflessivoPassatoNoi }}" id="answerriflessivoPassatoNoi" hidden>
                            <span class="CSSverbsAnswerriflessivoPassatoNoi">{{ riflessivo.riflessivoPassatoNoi }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPassatoVoi">voi</span>
                            <input type="text" class="form-control" id="exriflessivoPassatoVoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ riflessivo.riflessivoPassatoVoi }}" id="answerriflessivoPassatoVoi" hidden>
                            <span class="CSSverbsAnswerriflessivoPassatoVoi">{{ riflessivo.riflessivoPassatoVoi }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPassatoLoro">loro</span>
                            <input type="text" class="form-control" id="exriflessivoPassatoLoro" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ riflessivo.riflessivoPassatoLoro }}" id="answerriflessivoPassatoLoro" hidden>
                            <span class="CSSverbsAnswerriflessivoPassatoLoro">{{ riflessivo.riflessivoPassatoLoro }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-outline-primary" id="answerriflessivoPassato">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciariflessivoPassato">Ricomincia</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>