@using PracticeTheVerb.Domain.Entities.Italian;
@using PracticeTheVerb.Domain.Entities;
@model ResultViewEntity<ItalianVerb>;

@{
    var verb = Model.Data;
}
<div class="col pt-1 pb-1">
    <div class="p-3 border bg-light">
        <div class="text-center">Presente (Present)</div>
        <form id="formriflessivoPresente">
            <table class="table table-borderless p-0 m-0">
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPresenteIo"> io </span>
                            <input type="text" class="form-control" id="exriflessivoPresenteIo" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="{{ verbo.riflessivoPresenteIo }}" id="answerriflessivoPresenteIo" hidden>
                            <span class="CSSverbsAnswerriflessivoPresenteIo">{{ verbo.riflessivoPresenteIo }}</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPresenteTu"> tu </span>
                            <input type="text" class="form-control" id="exriflessivoPresenteTu" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="{{ verbo.riflessivoPresenteTu }}" id="answerriflessivoPresenteTu" hidden>
                            <span class="CSSverbsAnswerriflessivoPresenteTu">{{ verbo.riflessivoPresenteTu }}</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPresenteLui">lui</span>
                            <input type="text" class="form-control" id="exriflessivoPresenteLui" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="{{ verbo.riflessivoPresenteLui }}" id="answerriflessivoPresenteLui" hidden>
                            <span class="CSSverbsAnswerriflessivoPresenteLui">{{ verbo.riflessivoPresenteLui }}</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPresenteNoi">noi</span>
                            <input type="text" class="form-control" id="exriflessivoPresenteNoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="{{ verbo.riflessivoPresenteNoi }}" id="answerriflessivoPresenteNoi" hidden>
                            <span class="CSSverbsAnswerriflessivoPresenteNoi">{{ verbo.riflessivoPresenteNoi }}</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPresenteVoi">voi</span>
                            <input type="text" class="form-control" id="exriflessivoPresenteVoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="{{ verbo.riflessivoPresenteVoi }}" id="answerriflessivoPresenteVoi" hidden>
                            <span class="CSSverbsAnswerriflessivoPresenteVoi">{{ verbo.riflessivoPresenteVoi }}</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="riflessivoPresenteLoro">loro</span>
                            <input type="text" class="form-control" id="exriflessivoPresenteLoro" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="{{ verbo.riflessivoPresenteLoro }}" id="answerriflessivoPresenteLoro" hidden>
                            <span class="CSSverbsAnswerriflessivoPresenteLoro">{{ verbo.riflessivoPresenteLoro }}</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-outline-primary" id="answerriflessivoPresente">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciariflessivoPresente">Ricomincia</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>