@using PracticeTheVerb.Domain.Entities.Italian;
@using PracticeTheVerb.Domain.Entities;
@model ResultViewEntity<ItalianVerb>;

@{
    var verb = Model.Data;
}
<div class="col pt-1 pb-1">
    <div class="p-3 border bg-light">
        <div class="text-center">Presente (Present)</div>
        <form id="formcondizionalePresente">
            <table class="table table-borderless p-0 m-0">
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="condizionalePresenteIo"> io </span>
                            <input type="text" class="form-control" id="excondizionalePresenteIo" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ condizionale.condizionalePresenteIo }}" id="answercondizionalePresenteIo" hidden>
                            <span class="CSSverbsAnswercondizionalePresenteIo">{{ condizionale.condizionalePresenteIo }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="condizionalePresenteTu"> tu </span>
                            <input type="text" class="form-control" id="excondizionalePresenteTu" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ condizionale.condizionalePresenteTu }}" id="answercondizionalePresenteTu" hidden>
                            <span class="CSSverbsAnswercondizionalePresenteTu">{{ condizionale.condizionalePresenteTu }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="condizionalePresenteLui">lui</span>
                            <input type="text" class="form-control" id="excondizionalePresenteLui" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ condizionale.condizionalePresenteLui }}" id="answercondizionalePresenteLui" hidden>
                            <span class="CSSverbsAnswercondizionalePresenteLui">{{ condizionale.condizionalePresenteLui }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="condizionalePresenteNoi">noi</span>
                            <input type="text" class="form-control" id="excondizionalePresenteNoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ condizionale.condizionalePresenteNoi }}" id="answercondizionalePresenteNoi" hidden>
                            <span class="CSSverbsAnswercondizionalePresenteNoi">{{ condizionale.condizionalePresenteNoi }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="condizionalePresenteVoi">voi</span>
                            <input type="text" class="form-control" id="excondizionalePresenteVoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ condizionale.condizionalePresenteVoi }}" id="answercondizionalePresenteVoi" hidden>
                            <span class="CSSverbsAnswercondizionalePresenteVoi">{{ condizionale.condizionalePresenteVoi }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="condizionalePresenteLoro">loro</span>
                            <input type="text" class="form-control" id="excondizionalePresenteLoro" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>
                            <input type="text" class="form-control" value="{{ condizionale.condizionalePresenteLoro }}" id="answercondizionalePresenteLoro" hidden>
                            <span class="CSSverbsAnswercondizionalePresenteLoro">{{ condizionale.condizionalePresenteLoro }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-outline-primary" id="answercondizionalePresente">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciacondizionalePresente">Ricomincia</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>