/* ----------------------------- */
/*           PRESENTE           */

.CSSverbsAnswerindicativoPresenteIo {
    display: none;
}

.CSSverbsAnswerindicativoPresenteTu {
    display: none;
}

.CSSverbsAnswerindicativoPresenteLui {
    display: none;
}

.CSSverbsAnswerindicativoPresenteNoi {
    display: none;
}

.CSSverbsAnswerindicativoPresenteVoi {
    display: none;
}

.CSSverbsAnswerindicativoPresenteLoro {
    display: none;
}


/* ----------------------------- */
/*       PASSATO PROSSIMO       */

.CSSverbsAnswerindicativoPassatoProssimoIo {
    display: none;
}

.CSSverbsAnswerindicativoPassatoProssimoTu {
    display: none;
}

.CSSverbsAnswerindicativoPassatoProssimoLui {
    display: none;
}

.CSSverbsAnswerindicativoPassatoProssimoNoi {
    display: none;
}

.CSSverbsAnswerindicativoPassatoProssimoVoi {
    display: none;
}

.CSSverbsAnswerindicativoPassatoProssimoLoro {
    display: none;
}


/* ----------------------------- */
/*          Imperfetto           */

.CSSverbsAnswerindicativoImperfettoIo {
    display: none;
}

.CSSverbsAnswerindicativoImperfettoTu {
    display: none;
}

.CSSverbsAnswerindicativoImperfettoLui {
    display: none;
}

.CSSverbsAnswerindicativoImperfettoNoi {
    display: none;
}

.CSSverbsAnswerindicativoImperfettoVoi {
    display: none;
}

.CSSverbsAnswerindicativoImperfettoLoro {
    display: none;
}


/* ----------------------------- */
/*      Trapassato prossimo      */

.CSSverbsAnswerindicativoTrapassatoProssimoIo {
    display: none;
}

.CSSverbsAnswerindicativoTrapassatoProssimoTu {
    display: none;
}

.CSSverbsAnswerindicativoTrapassatoProssimoLui {
    display: none;
}

.CSSverbsAnswerindicativoTrapassatoProssimoNoi {
    display: none;
}

.CSSverbsAnswerindicativoTrapassatoProssimoVoi {
    display: none;
}

.CSSverbsAnswerindicativoTrapassatoProssimoLoro {
    display: none;
}


/* ----------------------------- */
/*         Passato remoto        */

.CSSverbsAnswerindicativoPassatoRemotoIo {
    display: none;
}

.CSSverbsAnswerindicativoPassatoRemotoTu {
    display: none;
}

.CSSverbsAnswerindicativoPassatoRemotoLui {
    display: none;
}

.CSSverbsAnswerindicativoPassatoRemotoNoi {
    display: none;
}

.CSSverbsAnswerindicativoPassatoRemotoVoi {
    display: none;
}

.CSSverbsAnswerindicativoPassatoRemotoLoro {
    display: none;
}


/* ----------------------------- */
/*         Trapassato remoto        */

.CSSverbsAnswerindicativoTrapassatoRemotoIo {
    display: none;
}

.CSSverbsAnswerindicativoTrapassatoRemotoTu {
    display: none;
}

.CSSverbsAnswerindicativoTrapassatoRemotoLui {
    display: none;
}

.CSSverbsAnswerindicativoTrapassatoRemotoNoi {
    display: none;
}

.CSSverbsAnswerindicativoTrapassatoRemotoVoi {
    display: none;
}

.CSSverbsAnswerindicativoTrapassatoRemotoLoro {
    display: none;
}


/* ----------------------------- */
/*        Fururo Semplice        */

.CSSverbsAnswerindicativoFuturoSempliceIo {
    display: none;
}

.CSSverbsAnswerindicativoFuturoSempliceTu {
    display: none;
}

.CSSverbsAnswerindicativoFuturoSempliceLui {
    display: none;
}

.CSSverbsAnswerindicativoFuturoSempliceNoi {
    display: none;
}

.CSSverbsAnswerindicativoFuturoSempliceVoi {
    display: none;
}

.CSSverbsAnswerindicativoFuturoSempliceLoro {
    display: none;
}


/* ----------------------------- */
/*        Fururo Anteriore        */

.CSSverbsAnswerindicativoFuturoAnterioreIo {
    display: none;
}

.CSSverbsAnswerindicativoFuturoAnterioreTu {
    display: none;
}

.CSSverbsAnswerindicativoFuturoAnterioreLui {
    display: none;
}

.CSSverbsAnswerindicativoFuturoAnterioreNoi {
    display: none;
}

.CSSverbsAnswerindicativoFuturoAnterioreVoi {
    display: none;
}

.CSSverbsAnswerindicativoFuturoAnterioreLoro {
    display: none;
}
