/* ----------------------------- */
/*           PRESENTE           */

.CSSverbsAnswercondizionalePresenteIo {
    display: none;
}

.CSSverbsAnswercondizionalePresenteTu {
    display: none;
}

.CSSverbsAnswercondizionalePresenteLui {
    display: none;
}

.CSSverbsAnswercondizionalePresenteNoi {
    display: none;
}

.CSSverbsAnswercondizionalePresenteVoi {
    display: none;
}

.CSSverbsAnswercondizionalePresenteLoro {
    display: none;
}


/* ----------------------------- */
/*       PASSATO       */

.CSSverbsAnswercondizionalePassatoIo {
    display: none;
}

.CSSverbsAnswercondizionalePassatoTu {
    display: none;
}

.CSSverbsAnswercondizionalePassatoLui {
    display: none;
}

.CSSverbsAnswercondizionalePassatoNoi {
    display: none;
}

.CSSverbsAnswercondizionalePassatoVoi {
    display: none;
}

.CSSverbsAnswercondizionalePassatoLoro {
    display: none;
}
