/* ----------------------------- */
/*           PRESENTE           */


.CSSverbsAnswerimperativoPresenteTu {
    display: none;
}

.CSSverbsAnswerimperativoPresenteLui {
    display: none;
}

.CSSverbsAnswerimperativoPresenteNoi {
    display: none;
}

.CSSverbsAnswerimperativoPresenteVoi {
    display: none;
}

.CSSverbsAnswerimperativoPresenteLoro {
    display: none;
}
