/* ----------------------------- */
/*           PRESENTE           */

.CSSverbsAnswercongiuntivoPresenteIo {
    display: none;
}

.CSSverbsAnswercongiuntivoPresenteTu {
    display: none;
}

.CSSverbsAnswercongiuntivoPresenteLui {
    display: none;
}

.CSSverbsAnswercongiuntivoPresenteNoi {
    display: none;
}

.CSSverbsAnswercongiuntivoPresenteVoi {
    display: none;
}

.CSSverbsAnswercongiuntivoPresenteLoro {
    display: none;
}


/* ----------------------------- */
/*       PASSATO PROSSIMO       */

.CSSverbsAnswercongiuntivoPassatoIo {
    display: none;
}

.CSSverbsAnswercongiuntivoPassatoTu {
    display: none;
}

.CSSverbsAnswercongiuntivoPassatoLui {
    display: none;
}

.CSSverbsAnswercongiuntivoPassatoNoi {
    display: none;
}

.CSSverbsAnswercongiuntivoPassatoVoi {
    display: none;
}

.CSSverbsAnswercongiuntivoPassatoLoro {
    display: none;
}


/* ----------------------------- */
/*          Imperfetto           */

.CSSverbsAnswercongiuntivoImperfettoIo {
    display: none;
}

.CSSverbsAnswercongiuntivoImperfettoTu {
    display: none;
}

.CSSverbsAnswercongiuntivoImperfettoLui {
    display: none;
}

.CSSverbsAnswercongiuntivoImperfettoNoi {
    display: none;
}

.CSSverbsAnswercongiuntivoImperfettoVoi {
    display: none;
}

.CSSverbsAnswercongiuntivoImperfettoLoro {
    display: none;
}


/* ----------------------------- */
/*      Trapassato prossimo      */

.CSSverbsAnswercongiuntivoTrapassatoIo {
    display: none;
}

.CSSverbsAnswercongiuntivoTrapassatoTu {
    display: none;
}

.CSSverbsAnswercongiuntivoTrapassatoLui {
    display: none;
}

.CSSverbsAnswercongiuntivoTrapassatoNoi {
    display: none;
}

.CSSverbsAnswercongiuntivoTrapassatoVoi {
    display: none;
}

.CSSverbsAnswercongiuntivoTrapassatoLoro {
    display: none;
}
