/* ----------------------------- */
/*           PRESENTE           */

.CSSverbsAnswerriflessivoPresenteIo {
    display: none;
}

.CSSverbsAnswerriflessivoPresenteTu {
    display: none;
}

.CSSverbsAnswerriflessivoPresenteLui {
    display: none;
}

.CSSverbsAnswerriflessivoPresenteNoi {
    display: none;
}

.CSSverbsAnswerriflessivoPresenteVoi {
    display: none;
}

.CSSverbsAnswerriflessivoPresenteLoro {
    display: none;
}


/* ----------------------------- */
/*       PASSATO       */

.CSSverbsAnswerriflessivoPassatoIo {
    display: none;
}

.CSSverbsAnswerriflessivoPassatoTu {
    display: none;
}

.CSSverbsAnswerriflessivoPassatoLui {
    display: none;
}

.CSSverbsAnswerriflessivoPassatoNoi {
    display: none;
}

.CSSverbsAnswerriflessivoPassatoVoi {
    display: none;
}

.CSSverbsAnswerriflessivoPassatoLoro {
    display: none;
}
